#DateSolic{
    margin: 10px;
    height: 1%;
    width: 60%;
    border: 2px solid black;
    padding-left: 15px;
    padding-bottom: 10px;
    position: static;
}

#DateSolic{
    height: 10%;
    margin:20px;
    
}